.userComments {
  width: 100%;
  min-height: 500px;
  color: var(--PC-colorDark);
}

.userComments > h3 {
  color: var(--PC-colorLight);
  text-align: center;
  margin-bottom: 20px;
}

.divButt {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.divComment {
  margin: auto;
  margin-bottom: 50px;
  max-width: 1000px;
}
.divComment > h4 {
  color: var(--PC-colorLight);
  font-weight: 500;
  margin-bottom: 15px;
}

.divComment > div {
  display: flex;
  align-items: stretch;
  gap: 30px;
}

.divComment > div > div {
  width: 150px;
  height: 220px;
  overflow: hidden;
  border-radius: 8px;
}

.divComment > div > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divComment > div > .commentContainer {
  margin: 0;
  width: 80%;
}

.noComments {
  color: var(--PC-colorLight);
  text-align: center;
  margin: auto;
  margin-top: var(--PC-margin-l);
  border: 1px solid var(--PC-colorLight);
  padding: 20px;
  border-radius: var(--PC-border-radius);
  max-width: 800px;
}
