main {
  min-height: 95svh;
  background-color: var(--PC-colorBGDark);
  overflow-y: auto;
}

.lightTheme {
  background-color: var(--PC-colorBGLight);
}

@media (max-width: 800px) {
  #app > main {
    min-height: 100svh;
    overflow: hidden;
  }
}
