.darkButton {
  background-color: var(--PC-colorBGDark);
  color: var(--PC-colorLight);
  border: 2px solid var(--PC-colorLight);
}

.lightButton {
  background-color: transparent;
  color: var(--PC-colorLight);
  border: 2px solid var(--PC-colorLight);
}

.loginButton {
  background-color: var(--PC-colorTertiary);
  color: var(--PC-colorLight);
  border: 2px solid var(--PC-colorLight);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--PC-gap-xs);
  padding: 15px 20px;
  border-radius: var(--PC-border-radius);
}

button > img {
  width: 20px;
}

/* web responsive */
@media (max-width: 850px) {
  .darkButton {
    border: 1px solid var(--PC-colorLight);
  }

  .lightButton {
    border: 1px solid var(--PC-colorLight);
  }

  .loginButton {
    border: 1px solid var(--PC-colorLight);
  }

  button {
    padding: 10px 15px;
  }

  button > img {
    width: 15px;
  }
}
