@media (max-width: 800px) {
  #support {
    height: auto;
  }
  .soporte {
    left: 50%;
  }

  .soporte > h3 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .soporte > p {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .soporte > a {
    font-weight: 400;
  }
}
