@media (max-width: 800px) {
  #LoginRegisterStart {
    padding: 30px;
  }

  .scrollUp {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    margin-bottom: 20px;
  }

  .changeForm {
    font-size: 14px;
    margin-bottom: 40px;
  }
}
