.sinopsis {
  color: white;
  font-weight: 200;
  width: 100%;
  max-width: 1200px;
  font-size: 16px;
  margin: auto;
  padding: 0 200px;
}

@media (max-width: 900px) {
  .sinopsis {
    max-width: 90%;
    font-size: 14px;
    margin: auto;
    padding: 0 30px;
  }
}
