.confPopup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--PC-colorBGLight);
  flex-direction: column;
  width: 400px;
  color: black;
  padding: 30px;
  gap: 20px;
  border-radius: var(--PC-border-radius-popup);
  border: 1px solid var(--PC-colorTertiary);
}
