@media (max-width: 800px) {
  #user > .userOptions {
    margin: 0 15px 30px 15px;
  }
  .userOption {
    padding: 10px;
    gap: 10px;
    width: 160px;
    height: 160px;
    transition: all 0.2s;
  }

  .userOption:hover {
    transform: scale(1);
  }

  .userOption > h4 {
    font-size: 14px;
    font-weight: 500;
  }

  .userOption > button {
    max-width: 110px;
  }
}
