/* INFO MOVIE */
#movie {
  max-width: var(--PC-maxwidth-page);
  margin: auto;
  padding: 80px 0 50px 0;
  color: white;
  position: relative;
  flex-direction: column;
}

#movie > h3 {
  margin-bottom: 40px;
  font-size: 25px;
}

#movie > div:not(.trailer) {
  justify-content: center;
  height: 450px;
  width: 100%;
}

#movie > div > .movieSummary {
  justify-content: flex-start;
  gap: 50px;
  height: 100%;
  align-items: flex-start;
  margin-right: 100px;
}

.divPoster {
  width: 250px;
  flex-direction: column;
}

.divPoster > img {
  width: 100%;
  margin-bottom: 30px;
}

.movieSummary .addListButt {
  padding: 15px 20px;
  width: auto;
  color: var(--PC-colorSecondary);
  border: 1px solid var(--PC-colorSecondary);
  border-radius: 10px;
}

.movieSummary .added {
  color: var(--PC-colorBGDark);
}

.divPoster > .confirmAddList {
  width: 250px;
}

.infosMovie {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.infosMovie > div {
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid rgb(180, 180, 180);
  padding: 15px 0;
}

.infosMovie > div:first-child {
  padding: 0 0 15px;
}

.infosMovie > div > h4 {
  font-size: 15px;
}
.infosMovie > div > p {
  font-size: 14px;
}

.buttonsInfoMovie {
  flex-direction: column;
  gap: 20px;
}

/* buttons - check style button component */
.buttonsInfoMovie > button {
  padding: 10px 20px;
  color: var(--PC-colorBGDark);
  border-radius: 15px;
  gap: 10px;
  transition: all 0.3s;
}

.buttonsInfoMovie > button:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px;
}

.buttonsInfoMovie > button > img {
  width: 20px;
}

.buttonsInfoMovie > button:first-child {
  background-color: var(--PC-colorSecondary);
}

.buttonsInfoMovie > button:last-child {
  background-color: var(--PC-colorCines);
}
