.passwordInput {
  position: relative;
}

.passwordInput > input {
  background-color: var(--PC-colorMidDark);
  color: var(--PC-colorLight);
  width: 100%;
}

.passwordInput > img {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  cursor: pointer;
}
