.trailer {
  position: absolute;
  left: 50%;
  width: 800px;
  top: 100px;
  transform: translateX(-50%);
  padding: 60px 20px 20px;
  background-color: var(--PC-colorBGDark);
  border-radius: 15px;
  z-index: 10;
}

.trailer > iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 15px;
}

.close {
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 15px;
}

.close > img {
  width: 20px;
  height: 20px;
}
