.editButt {
  padding: 10px 15px;
  border-radius: 8px;
}

.editButt > img {
  width: 16px;
}

@media (max-width: 850px) {
  .editButt {
    padding: 8px 10px;
    border-radius: 5px;
  }

  .editButt > img {
    width: 13px;
  }
}
