.addCine {
  border: 1px solid var(--PC-colorBGLight);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  gap: 10px;
  font-size: 20px;
  border-radius: 8px;
  margin-bottom: var(--PC-margin-s);
}

.addCine:hover {
  background-color: var(--PC-colorMidDark);
  cursor: pointer;
}
